# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: digits without decimal sign

Strings: quoted text

Lists: sorted object, can contain both number(decimal and integer) and strings

Tuples: object with unique values, no matter how many times we insert duplicates in it, only the unique values are stored, they arent sorted

Dictionaries: unsorted objects, consist of key:value pairs. The key is always string, the value can be either string or number

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
100.25 == ((50/10) + 105.25 - 5 + 1*5 - 10)

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [2]:
44 == (4 * (6 + 5) )
29 == (4 * 6 + 5)
34 == (4 + 6 * 5)

True

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> 8.5 -  float number

What would you use to find a numberâ€™s square root, as well as its square?

In [23]:
# Square root:
36 ** 0.5

6.0

In [24]:
# Square:
6 ** 2

36

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
s[1]

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
s[::-1]

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

In [ ]:
# Method 2:
s[4]

## Lists

Build this list [0,0,0] two separate ways.

In [26]:
# Method 1:
mylist = [0,0,0]
mylist

[0, 0, 0]

In [27]:
# Method 2:
new_list = [0]
new_list * 3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [29]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [31]:
list4 = [5,3,4,6,1]
list4.sort()

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [32]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [33]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [40]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [38]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]
# WE ARE USING [0] at the end because there is only 1 item i the list and if 
# we dont use [0] the result will be ['hello']

'hello'

Can you sort a dictionary? Why or why not?<br>No, we cant sort dictionaries, because they can't be sorted. They have key:value pairs andthey are immutable.<br>

## Tuples

What is the major difference between tuples and lists?<br><br>

How do you create a tuple?<br>Tuple is created using round brackets. The the definition is the same as in lists/dictionaries.<br>

## Sets

What is unique about a set?<br>The unique thing about the set is that can store only unique values. You can't have duplicates in set, other important thing is that the set is unsorted<br>

Use a set to find the unique values of the list below:

In [4]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [5]:
# Answer before running cell -False
2 > 3

False

In [6]:
# Answer before running cell - False
3 <= 2

False

In [7]:
# Answer before running cell - False
3 == 2.0

False

In [8]:
# Answer before running cell - True
3.0 == 3

True

In [9]:
# Answer before running cell - False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [10]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!