In [3]:
def lesser_of_two(a,b):
    if (a % 2 == 0 and b % 2 == 0):
        if a > b:
            return b
        if a < b:
            return a
    elif (a % 2 != 0 or b % 2 != 0):
        if a > b:
            return a
        if a < b:
            return b

In [5]:
lesser_of_two(2,5)

5

In [12]:
test = 'Ala Balaa'

In [13]:
test.split()

['Ala', 'Balaa']

In [77]:
def animal_crackers(a):
    
    low=(a.lower().split())
    
    if low[0][0] == low[1][0]:
        return True
    else:
        return False

In [80]:
# Check
animal_crackers('Levelheaded Llama')

True

In [38]:
def makes_twenty(a,b):
    
    if (a == 20 or b == 20) or (a + b == 20):
        return True
    else:
        return False

In [44]:
makes_twenty(2,3)

False

In [79]:
def old_macdonald(name):
    
    listed = list(name)
    
    listed[0] = listed[0].upper()
    listed[3] = listed[3].upper()
    
    return ''.join(listed)

In [80]:
old_macdonald('martin')

'MarTin'

In [96]:
def master_yoda(a):
    
    splited = a.split()
    reverse = splited[::-1]
    
    return ' '.join(reverse)

In [97]:
master_yoda('I am home')

'home am I'

In [98]:
def almost_there(n):
    
    if abs(100 - n) <= 10 or abs(200 - n) <=10:
        print(True)
    else:
        print(False)

In [82]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        else:
            return False

In [111]:
has_33([1, 3, 3])

True

In [133]:
def paper_doll(text):
    
    result = ''
    
    for i in text:
        result += i*3
    return result

In [134]:
paper_doll('Martin')

'MMMaaarrrtttiiinnn'

In [70]:
def blackjack(a,b,c):
    
    if a not in range(1,12) or b not in range(1,12) or c not in range(1,12):
        return 'Pick numbers between 1 and 11 !'
    
    sum = a+b+c
    
    if sum <= 21:
        return sum
    elif sum > 21 and (a == 11 or b == 11 or c == 11):
        return sum - 10
    elif sum > 21:
        return 'Busted!'

In [76]:
blackjack(10,11,11)

22